html {font-size: 1.125rem;}
h1 {font-size: 3.051rem;}
h2 {font-size: 2.441rem;}
h3 {font-size: 1.953rem;}
h4 {font-size: 1.563rem;}
h5, .#{$theme-prefix}text-l {font-size: 1.25rem;}
h6 {font-size: 1rem;}
small, .#{$theme-prefix}small {font-size: 15px;}
